# Dependencies
node_modules
.pnp
.pnp.js

# Production & Build outputs
dist
dist-ssr
*.local

# Environment variables
.env
.env.local
.env.production
.env.development

# Database files
data/*.db
data/*.db-journal
data/*.db-wal
data/*.db-shm

# Editor & OS files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
